.botao{
    background-color: var(--detail-color1);
    padding: 15px 30px;
    text-align: center;
    border-radius: 10px;
    color: var(--text-color2);
    text-transform: uppercase;
}
.botao:hover{
    background-color: var(--detail-color2);
}