:root{
    --background-color1: #000000;
    --background-color2: #292929;
    --background-color3: #4e4e4e;
    --background-color4: #ffffff;
    --background-color5: #101010;
    --detail-color1: #000080;
    --detail-color2: #0000a0;
    --detail-color3: #0000c8;
    --text-color1: #ffffff;
    --text-color2: #d0d0d0;
    --text-color3: #000000;
    --text-color4: #4e4e4e;
}