.font1-xxl{
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
}
.font1-xl{
    font-family: 'Poppins', sans-serif;
    font-size: 3.5rem;
}
.font1-l{
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
}
.font1-n{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}
.font1-s{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}
.font1-xs{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.125;
}
.font2-xxl{
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
}
.font2-xl{
    font-family: 'Raleway', sans-serif;
    font-size: 3.5rem;
}
.font2-l{
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
}
.font2-n{
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
}
.font2-s{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
}
.font2-xs{
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}
.font-b{
    font-weight: 700;
}
.font-n{
    font-weight: 400;
}

@media (max-width:1200px){
    .font1-xxl, .font2-xxl{
        font-size: 3.5rem;
    }
    .font1-xl, .font2-xl{
        font-size: 3rem;
    }
}
@media (max-width:1000px){
    .font1-xxl, .font2-xxl{
        font-size: 2.5rem;
    }
    .font1-xl, .font2-xl{
        font-size: 2rem;
    }
    .font1-n, .font2-n{
        font-size: 1.5rem;
    }
}
@media (max-width:800px){
    .font1-s, .font2-s{
        font-size: 1.25rem;
    }
    .font1-xl, .font2-xl{
        font-size: 1.5rem;
    }
}
@media (max-width:600px){
    .font1-s, .font2-s{
        font-size: 1rem;
    }
}
@media (max-width:400px){
    .font1-xxl, .font2-xxl{
        font-size: 2rem;
    }
    .font1-n, .font2-n, .font1-s, .font2-s{
        font-size: 1rem;
    }
}
