#contato{
    background: linear-gradient(var(--background-color5) 850px, var(--background-color4) 0%)
}
.meios{
    display: grid;
    grid-template-columns: 5fr 7fr;
    padding: 20px;
}
.contato-meios{
    background-color: var(--background-color1);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    border-radius: 10px 0 0 10px;
}
.contato-meios address a{
    display: block;
    max-width: max-content;
}
.redes{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.contato-form{
    padding: 20px;
    background-color: var(--background-color6);
    border-radius: 0 10px 10px 0;
}

@media (max-width: 800px){
    .meios{
        grid-template-columns: 1fr;
    }
    .contato-meios{
        border-radius: 10px 10px 0 0;
    }
    .contato-form{
        border-radius: 0 0 10px 10px;
    }
}