/* Introdução */
.introducao-background{
    background-color: var(--background-color1);
    color: var(--text-color1);
    box-shadow: inset 0 -100px #ffffff;
}
.introducao-container{
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 40px;
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr;
    align-items: end;
}
.introducao-content{
    display: flex;
    gap: 40px;
    flex-direction: column;
    margin-bottom: 220px;
}
.introducao-content h1 span{
    color: var(--detail-color1);
}
.introducao-content p{
    color: var(--text-color2);
    font-size: 1.5rem;
}
.introducao-content a{
    max-width: 16ch;
}
.introducao-image img{
    justify-self: center;
    border-radius: 10px;
}
@media (max-width:1200px){
    .introducao-content{
        margin-bottom: 200px;
    }
    .introducao-content h1{
        font-size: 3.5rem;
    }
}
@media (max-width:1000px){
    .introducao-content{
        margin-bottom: 100px;
    }
    .introducao-content h1{
        font-size: 2.5rem;
    }
    .introducao-content p{
        font-size: 1.5rem;
    }
}
@media (max-width:800px){
    .introducao-background{
        background-color: #101010;
        box-shadow: inset 0 -80px #ffffff;

    }
    .introducao-container{
        grid-template-columns: 1fr;
    }
    .introducao-content{
        margin: 0;
    }
}
@media (max-width:400px){
    .introducao-content h1{
        font-size: 2rem;
    }
    .introducao-content p, .introducao-content a{
        font-size: 1rem;
    }
}