/* Introdução */
.introducao-background{
    background-color: var(--background-color1);
    color: var(--text-color1);
    box-shadow: inset 0 -80px #ffffff;
    padding-bottom: 30px;
}
.introducao-container{
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr;
    align-items: end;
}
.introducao-content{
    display: flex;
    gap: 40px;
    flex-direction: column;
    margin-bottom: 100px;
}
.introducao-content h1 span{
    color: var(--detail-color1);
}
.introducao-content p{
    color: var(--text-color2);
}
.introducao-image img{
    justify-self: center;
}
@media (max-width:1200px){
    .introducao-content{
        margin-bottom: 200px;
    }
}
@media (max-width:1000px){
    .introducao-content{
        margin-bottom: 100px;
    }
}
@media (max-width:800px){
    .introducao-background{
        background-color: #101010;
        box-shadow: inset 0 -80px #ffffff;

    }
    .introducao-container{
        grid-template-columns: 1fr;
    }
    .introducao-content{
        margin: 0;
    }
}