/* Localização */
.localizacao-background{
    background-color: var(--background-color4);
    padding-bottom: 60px;
}
.localizacao{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
.localizacao h2{
    margin-bottom: 40px;
    grid-column: span 2;
}
.localizacao-grid  {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 30px;
    background-color: var(--background-color6);
    border-radius: 10px;
}
.localizacao-content{
    padding-bottom: 40px;
    padding: 20px;
}
.localizacao-mapa img{
    border-radius: 10px 10px 0 0;
}

@media (max-width: 700px){
    .localizacao h2{
        grid-column: 1;
        margin-bottom: 0;
    }
    .localizacao{
        grid-template-columns: 1fr;
    }
}

