/* Localização */
.localizalizacao-background{
    background-color: var(--background-color4);}
.localizacao h2{
    margin-bottom: 40px;
}
.localizacao h2 span{
    color: var(--detail-color1);
}
.localizacao-grid  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: end;
    padding-bottom: 30px;
}
.localizacao-content{
    padding-bottom: 40px;
}
.localizacao-content span{
    position: relative;
}
.localizacao-content span::before{
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    display: block;
    top: -15px;
    background-color: var(--detail-color1);
}

@media (max-width: 800px){
    .localizacao h2{
        margin-bottom: 20px;
    }
    .localizacao-grid{
        grid-template-columns: 1fr;
    }
}

