.modalidades-background{
    background-color: var(--background-color4);
}
.modalidades-container{
    max-width: 1600px;
    box-sizing: border-box;
    padding: 40px;
    margin: 0 auto;
    color: var(--text-color3);
}
.modalidades-container h2{
    max-width: 1200px;
    box-sizing: border-box;
    padding: 40px;
    margin: 0 auto;
}

.modalidades-list{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.modalidades-container h2 span{
    color: var(--detail-color1);
}
.modalidades-list-item div{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.modalidades-list-item span{
    display: inline-block;
    width: 10px;
    height: 7px;
    background-color: var(--detail-color1);
}



